@import '../../../../../assets/scss/link';
footer {
  padding: 10px 50px 80px 50px;
  width: 100%;
  background-color: $gray-900;
  display: flex;
  flex-direction: column;
  .f-f {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 495px;
    .footer {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;

      .f-logo {
        width: 140px;
        height: 21px;
      }
      ul {
        display: flex;
        gap: 20px;
        li {
          a {
            opacity: 0.5;
            &:hover {
              opacity: 1;
              cursor: pointer;
            }
          }
        }
      }
    }
    p {
      max-width: 493px;
      @include font('Ubuntu-Regular', $gray, 14, 400);
      margin-top: 25px;
      flex: 1;
    }
  }
  .subs {
    max-width: 492px;
    display: flex;
    flex-direction: column;
    h4 {
      @include font('Ubuntu-Bold', $white, 24, 700);
      margin-bottom: 24px;
    }
    form {
      display: flex;
      flex: 1 1 auto;
      input {
        height: 44px;
        width: 100%;
        padding-left: 16px;
        outline: none;
        background: rgba(255, 255, 255, 0.12);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
        transition: border-color 0.2s ease-in-out,
          background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        &:focus {
          background-color: $white;
        }
      }
      button {
        height: 44px;
        border-radius: 0 4px 4px 0;
      }
    }
    p {
      margin-top: 16px;
      font-size: 12px;
    }
  }
  section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 49px;
    div {
      width: 349px;
      height: 123px;
      h6 {
        @include font('Ubuntu-Bold', $white, 16, 700);
      }
      ul {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        li {
          height: 26px;
          color: $gray;
          span {
            @include font('Ubuntu-Regular', $white, 16, 400);
          }
          &:hover {
            color: $white;
            cursor: pointer;
          }
        }
      }
    }
  }
  .copyright {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 20px;
    div {
      //text-align: center;
      //vertical-align: center;
      span {
        margin-right: 16px;
      }
      a {
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 390px) and (max-width: 480px) {
  footer {
    padding: 40px 15px 0 15px;
    .f-f {
      flex-direction: column;
      margin-top: 10px;
    }
    .logo {
      .footer {
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        ul {
          margin-left: 10px;
        }
      }
      p {
        line-height: 20px;
        margin-bottom: 24px;
      }
    }
  }
  .subs {
    //border: 1px solid red;
  }
  section {
    flex-direction: column;
  }
  .copyright {
    justify-content: space-around;
    div {
      display: inline-block;
    }
    span {
      font-size: 14px;
    }
    .goTop {
      border: 1px solid red;
      display: none;
    }
  }
}
