@import 'variables';
@import 'mixin';
.btn-or {
  @include font('Ubuntu-Bold', $white, 16, 700);
  height: 52px;
  padding: 0 40px;
  border: 1px solid $primary;
  border-radius: 4px;
  background-color: $primary;
}
.btn-tr {
  @include font('Ubuntu-Bold', $white, 16, 700);
  height: 52px;
  padding: 0 40px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;
}
