@import 'variables';
@import 'mixin';
.btn-or {
  @include font('Ubuntu-Bold', $white, 16, 700);
  height: 52px;
  padding: 0 40px;
  border: 1px solid $primary;
  border-radius: 4px;
  background-color: $primary;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $primary-bold;
  }
}
.btn-tr {
  @include font('Ubuntu-Bold', $white, 16, 700);
  height: 52px;
  padding: 0 40px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  &:hover {
    background-color: $white;
    color: $black;
  }
}
.btn-tr-sm {
  @include font('Ubuntu-Bold', $primary, 16, 700);
  height: 44px;
  padding: 0 32px;
  border: 1px solid $primary;
  border-radius: 4px;
  background-color: transparent;
}
.inp {
  width: 260px;
  height: 44px;
  @include font('Ubuntu-Regular', $gray, 14, 400);
  padding: 11px 0 12px 16px;
  border: 1px solid $gray-200;
  background: $gray-200;
  border-radius: 4px;
  outline: none;
}
.inp-large {
  width: 414px;
  height: 44px;
  @include font('Ubuntu-Regular', $gray, 14, 400);
  padding: 11px 0 12px 16px;
  border: 1px solid $gray-200;
  background: $gray-200;
  border-radius: 4px;
  outline: none;
}
.btn-or,
.btn-tr,
.btn-tr-sm:hover {
  cursor: pointer;
}
