@font-face {
  font-family: 'Ubuntu_Regular';
  src: url('../../assets/fonts/Ubuntu-Regular.woff2');
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../../assets/fonts/Ubuntu-Bold.woff2');
}
@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../../assets/fonts/Ubuntu-Light.woff2');
}
