<nav>
  <div>
    <a>
      <img class="logo" src="assets/svg/logo.svg" alt="" />
    </a>
  </div>
  <ul class="list">
    <li>
      <a>About Us</a>
    </li>
    <li>
      <a>Services</a>
    </li>
    <li>
      <a>Work</a>
    </li>
    <li>
      <a>News</a>
    </li>
    <li>
      <a>Contacts</a>
    </li>
  </ul>
  <ul class="second">
    <li>
      <a class="media"><img src="assets/svg/media/iPhone.svg" alt="" /></a>
      <a class="a">
        <img src="assets/svg/iPhone.svg" alt="" />
        <span>Call us</span>
      </a>
    </li>
    <li>
      <a class="media"><img src="assets/svg/media/Chat.svg" alt="" /></a>
      <a class="a">
        <img src="assets/svg/Chat.svg" alt="" />
        <span>Talk to us</span>
      </a>
    </li>
    <li>
      <a class="media"><img src="assets/svg/media/burger-menu.svg" alt="" /></a>
    </li>
  </ul>
</nav>
