@import '../../../../assets/scss/link';
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;

    li {
      margin-left: 20px;
      gap: 40px;
      padding: 10px 12px 5px 12px;
      border-radius: 5px;
      cursor: pointer;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .list {
    li {
      &:first-child {
        &:hover {
          background-color: transparent;
        }
      }
      &:hover {
        background-color: $primary-bold;
        a {
          color: $white;
        }
      }
    }
  }
}
.second {
  .media {
    display: none;
  }
  &:last-child {
    display: none;
  }
}
a {
  @include font('Ubutnu-Bold', $black, 16, 700);
  text-decoration: none;
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  ul {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  li {
    margin-left: 0;
  }
}

@media screen and (min-width: 390px) and (max-width: 480px) {
  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .list {
      li {
        display: none;
      }
    }
    .second {
      display: flex !important;
      justify-content: space-between;
      flex-direction: row !important;
      gap: 0;
      width: 160px;
      overflow: hidden;

      ul {
      }

      li {
        margin: 0;
      }
      //margin: 0;
      .media {
        display: inline-block;
        //margin: 0;
      }
      &:last-child {
        display: block;
      }
      .a {
        display: none;
      }
    }
  }
}
