@import '../../../../assets/scss/link';
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 1.75rem 1.875rem rgba(154, 156, 165, 0.08),
    0 1.25rem 1rem rgba(154, 156, 165, 0.05),
    0 0.5rem 0.625rem rgba(154, 156, 165, 0.04),
    0 0.25rem 0.25rem rgba(30, 33, 44, 0.03);

  .navbar {
    width: 1280px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;

    li {
      margin-left: 20px;
      gap: 40px;
      padding: 10px 12px 5px 12px;
      border-radius: 5px;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }
    }
  }
  .list {
    li {
      transition: all 0.4s ease-in-out;
      &:hover {
        background-color: $primary-bold;
        a {
          color: $white;
        }
      }
    }
  }
}
.second {
  .media {
  }
  &:last-child {
    display: none;
  }
}
a {
  @include font('Ubutnu-Bold', $black, 16, 700);
  text-decoration: none;
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
    height: auto;
  }
}

@media screen and (min-width: 390px) and (max-width: 480px) {
  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .list {
      li {
        display: none;
      }
    }
    .second {
      display: flex !important;
      justify-content: space-between;
      flex-direction: row !important;
      gap: 0;
      width: 160px;
      overflow: hidden;
      margin-left: 40px;

      ul {
      }

      li {
        margin: 0;
      }
      .media {
        display: inline-block;
        //margin: 0;
      }
      &:last-child {
        display: block;
      }
      .a {
        display: none;
      }
    }
  }
}
@media screen and (min-width: 991px) {
  nav {
    ul {
      li {
      }
    }
    .second {
      display: flex;
      li {
        .media {
          display: none;
        }
      }
    }
  }
}
