@import '../../../../assets/scss/link';
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  margin: 0 auto;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;

    li {
      margin-left: 20px;
      gap: 40px;
      padding: 7px 10px;
      border-radius: 5px;
      cursor: pointer;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .list {
    li {
      &:first-child {
        &:hover {
          background-color: transparent;
        }
      }
      &:hover {
        background-color: $primary-bold;
        a {
          color: $white;
        }
      }
    }
  }
}
a {
  color: $black;
  text-decoration: none;
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  ul {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  li {
    margin-left: 0;
  }
}
