@import '../../../../../assets/scss/link';
.header {
  max-height: 50%;
  width: 100%;
  background-color: $gray-200;
  padding-top: 80px;

  h2 {
    @include font('Ubuntu-Bold', $black, 46, 700);
    text-align: center;
  }
  .client {
    margin-top: 152px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;

    .details {
      max-width: 600px;
      height: 300px;

      h2 {
        margin-bottom: 60px;
      }
      .img {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin-bottom: 24px;
      }
      p {
        @include font('Ubuntu-Regular', $gray, 16, 400);
        line-height: 25px;
        margin-bottom: 24px;
      }
      span {
        @include font('Ubuntu-Bold', $black, 16, 600);
      }
      .position {
        @include font('Ubuntu-Regular', $black, 16, 400);
        display: block;
        margin-top: 4px;
      }
    }
    .partners {
      margin-top: 32px;
    }
  }
  .navigation {
    display: flex;
    width: 100px;
    height: 50px;
    margin-left: auto;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $primary;
        img {
          filter: invert(1) brightness(2);
        }
      }
      img {
        width: 26px;
        height: 26px;
      }
    }
  }
  .partner-img {
    img {
      max-width: 495px;
      max-height: 550px;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    h2 {
      font-size: 30px !important;
      margin-bottom: 20px;
    }
    .client {
      flex-direction: column;
      gap: 50px;
      margin: 60px 0 30px 0;
      .details {
        text-align: center;
        padding: 0 20px;
        margin-bottom: 170px;
      }
    }
    .partner-img {
      border: 1px solid red;
      display: none;
    }
  }
}
