<div class="service">
  <h2>Our services</h2>
  <p>
    Createx Construction Bureau is a construction giant with a full range of
    construction services.
  </p>
  <div class="list">
    <div>
      <a>
        <span class="bg-dark"></span>
        <img src="assets/svg/ic-construction.svg" alt="" />
        <h5>Construction</h5>
      </a>
    </div>
    <div>
      <a>
        <div class="bg-dark"></div>
        <img src="assets/svg/ic-plan.svg" alt="" />
        <h5>Project Development</h5>
      </a>
    </div>
    <div>
      <a>
        <div class="bg-dark"></div>
        <img src="assets/svg/ic-pantone.svg" alt="" />
        <h5>Interior Design</h5>
      </a>
    </div>
    <div>
      <a>
        <div class="bg-dark"></div>
        <img src="assets/svg/ic-painting.svg" alt="" />
        <h5>Repairs</h5>
      </a>
    </div>
  </div>
  <div class="mt">
    <h3>Learn more about our services</h3>
    <button class="btn-or">View Services</button>
  </div>
</div>
