@import '../../../../../assets/scss/link';
.service {
  background-color: #eeebeb;
  height: 80%;
  width: 100%;
  margin-top: 120px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    @include font('Ubuntu-Bold', $black, 46, 700);
    margin-top: 40px;
  }
  p {
    @include font('Ubuntu-Regular', $gray, 18, 400);
    margin-top: 24px;
  }
  .list {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 30px;

    div {
      height: 285px;
      background: $white;
      cursor: pointer;
      transition: all 0.5s ease-in-out;

      a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 27px;
        align-items: center;
        width: 285px;
        height: 100%;
        position: relative;
        transition: all 1s linear;

        .bg-dark {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: #1e212c;
          opacity: 0;
          transition: all 0.5s ease-in-out;
        }
        img {
          display: block;
          width: 50px;
          height: 50px;
          object-fit: cover;
          transition: filter 0.5s ease-in-out;
        }
        &:hover img {
        }
        h5 {
          @include font('Ubuntu-Bold', $black, 20, 700);
        }
        h5 {
          @include font('Ubuntu-Bold', $black, 20, 700);
          transition: color 0.5s ease-in-out;
        }
      }
      &:first-child:hover {
        a {
          background: url('../../../../../assets/img/service-1.jpg') no-repeat
            center center / cover;

          .bg-dark {
            opacity: 0.6;
          }

          img {
            filter: brightness(0) invert(1);
          }
          h5 {
            color: $white;
            z-index: 10;
          }
        }
      }
      &:nth-child(2):hover {
        a {
          background: url('../../../../../assets/img/service-2.jpg') no-repeat
            center center / cover;
          .bg-dark {
            opacity: 0.6;
          }
          img {
            filter: brightness(0) invert(1);
          }
          h5 {
            color: $white;
            z-index: 10;
          }
        }
      }
      &:nth-child(3):hover {
        a {
          background: url('../../../../../assets/img/service-3.jpg') no-repeat
            center center / cover;
          .bg-dark {
            opacity: 0.6;
          }
          img {
            filter: brightness(0) invert(1);
          }

          h5 {
            color: $white;
            z-index: 10;
          }
        }
      }
      &:last-child:hover {
        a {
          background: url('../../../../../assets/img/service-4.jpg') no-repeat
            center center / cover;
          .bg-dark {
            opacity: 0.6;
          }
          img {
            filter: brightness(0) invert(1);
          }
          h5 {
            color: $white;
            z-index: 10;
          }
        }
      }
    }
  }

  .mt {
    margin: 80px 0 30px 0;
    display: flex;
    align-items: center;
    gap: 40px;
    h3 {
      @include font('Ubuntu-Bold', $black, 28, 700);
    }
  }
}
//mobile
@media screen and (max-width: 480px) {
  .service {
    margin-top: 0 !important;
    padding: 10px;

    h2 {
      font-size: 30px;
    }

    p {
      text-align: center !important;
      padding: 10px;
      line-height: 25px;
    }

    .list {
      width: 100%;
      flex-direction: column;

      div {
        align-items: center;
        background: none;

        .bg-dark {
          opacity: 0.6 !important;
        }

        a {
          width: 100%;
        }

        img {
          filter: brightness(0) invert(1);
        }

        h5 {
          color: $white !important;
          filter: brightness(0) invert(1);
        }

        &:first-child {
          a {
            background: url('../../../../../assets/img/service-1.jpg') no-repeat
              center center / cover;
          }
        }

        &:nth-child(2) {
          a {
            background: url('../../../../../assets/img/service-2.jpg') no-repeat
              center center / cover;
          }
        }

        &:nth-child(3) {
          a {
            background: url('../../../../../assets/img/service-3.jpg') no-repeat
              center center / cover;
          }
        }

        &:last-child {
          a {
            background: url('../../../../../assets/img/service-4.jpg') no-repeat
              center center / cover;
          }
        }
      }
    }
  }
  .mt {
    flex-direction: column;
    text-align: center;
    h3 {
      font-size: 24px !important;
    }
  }
}

//tablet
@media screen and (min-width: 481px) and (max-width: 991px) {
  .service {
    padding: 0 20px 0 20px;
    .list {
      flex-direction: row !important;
      flex-wrap: wrap;
      div {
        width: 440px;
        a {
          width: 100%;
        }
      }
    }
  }
}
