@import '../../../../../assets/scss/link';
.header {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.profile {
  margin-top: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 126px;
  h3 {
    @include font('Ubuntu-Bold', $black, 28, 700);
  }
}
h2 {
  @include font('Ubuntu-Bold', $black, 46, 700);
  max-width: 705px;
  height: 120px;
  margin: 120px 0 60px 0;
  line-height: 60px;
}
