@import '../../../../../../assets/scss/link';

.project {
  .link {
    //border: 1px solid red;
    width: 390px;
    height: 450px;

    a {
      width: 387px;
      height: auto;
      cursor: pointer;
      text-decoration: none;
      transition: box-shadow 0.25s ease-in-out;
      overflow: hidden;
      box-shadow: 0 1.75rem 1.875rem rgba(154, 156, 165, 0.08),
        0 1.25rem 1rem rgba(154, 156, 165, 0.05),
        0 0.5rem 0.625rem rgba(154, 156, 165, 0.04),
        0 0.25rem 0.25rem rgba(30, 33, 44, 0.03);
      img {
        width: inherit;
        height: 345px;
        display: inline-block;
        transition: all 0.3s ease-in;
        object-fit: cover;
      }
      section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: inherit;
        height: 95px;
        background-color: white;
        gap: 10px;
        transition: all 0.3s ease-in-out;
        z-index: 2;
        h3 {
          margin-top: 6px;
          @include font('Ubuntu-Bold', $black, 20, 700);
          transition: all 0.3s ease-in;
        }
        p {
          @include font('Ubuntu-Regular', $black, 14, 400);
        }
        button {
          display: none;
          height: 44px;
          margin-top: 10px;
          transition: all 0.2s ease;
        }
      }

      &:hover {
        &:hover {
          img {
            height: 277px;
            object-fit: cover;
          }
          section {
            height: 163px;
            button {
              display: block;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 390px) and (max-width: 480px) {
  .project {
    .link {
      a {
        img {
          height: 277px;
          object-fit: cover;
        }

        section {
          height: 163px;

          button {
            display: block;
          }
        }
      }
    }
  }
}
