<div class="project">
  <div>
    <a>
      <img src="assets/img/service-1.jpg" alt="" />
      <section>
        <h3>Red Finger Building</h3>
        <p>Business Centers</p>
        <button class="btn-tr-sm">View Project</button>
      </section>
    </a>
  </div>
  <div>
    <a>
      <img src="assets/img/service-1.jpg" alt="" />
      <section>
        <h3>Red Finger Building</h3>
        <p>Business Centers</p>
        <button class="btn-tr-sm">View Project</button>
      </section>
    </a>
  </div>
  <div>
    <a>
      <img src="assets/img/service-1.jpg" alt="" />
      <section>
        <h3>Red Finger Building</h3>
        <p>Business Centers</p>
        <button class="btn-tr-sm">View Project</button>
      </section>
    </a>
  </div>
</div>
