<div class="section" data-aos="zoom-in" data-aos-duration="1000">
  <h2>We are Createx Construction Bureau</h2>
  <p>
    We are rightfully considered to be the best construction company in the USA.
  </p>
  <div class="video">
    <img class="img" src="assets/img/video-bg.jpg" alt="Image" />
    <a class="click">
      <img src="assets/svg/play.svg" alt="play" />
    </a>
  </div>
  <h2>Our core values</h2>
  <p>Our mission is to set the highest standards for construction sphere.</p>
  <div class="icon-box" data-aos="zoom-in-down" data-aos-duration="1000">
    <div>
      <img src="assets/svg/ic-like.svg" />
      <span>Quality</span>
      <p>
        Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit
        nostrud aliquip sunt.
      </p>
    </div>
    <div>
      <img src="assets/svg/ic-hand.svg" />
      <span>Safety</span>
      <p>
        Anim reprehenderit sint voluptate exercitation adipisicing laborum
        adipisicing. Minim empor est ea.
      </p>
    </div>
    <div>
      <img src="assets/svg/ic-slippers.svg" />
      <span>Comfort</span>
      <p>
        Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit
        voluptate ullamco proident ea ad.
      </p>
    </div>
  </div>
  <div class="send" data-aos="zoom-in" data-aos-duration="1000">
    <h2>Want to know more? Ask us a question:</h2>
    <div class="form">
      <div>
        <label>Name</label>
        <input placeholder="Your name" class="inp" type="text" />
      </div>
      <div>
        <label>Phone</label>
        <input placeholder="Your phone" class="inp" type="text" />
      </div>
      <div>
        <label>Message</label>
        <input placeholder="Your message" class="inp-large" type="text" />
      </div>
      <button class="btn-or" style="height: 44px">send</button>
    </div>
  </div>
</div>
