@import '../../../../../assets/scss/link';
.section {
  height: 100%;
  width: 100%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  h2 {
    @include font('Ubuntu-Bold', $black, 46, 700);
  }
  p {
    @include font('Ubuntu-Regular', $gray, 18, 400);
    line-height: 27px;
  }
  .video {
    max-height: 510px;
    min-height: 404px;
    position: relative;

    .img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
    .click {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
      width: 5rem;
      height: 5rem;
      background: $primary;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
      border-radius: 50%;
      text-align: center;
      padding: 27px;
      &:hover {
        //box-shadow: 0 0 0 1rem $primary;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 0 1rem rgba($primary, 0.5);
      }
    }
  }
}

.icon-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 1231px;
  max-height: 188px;
  gap: 188px;
  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    width: 285px;
    height: 100%;
    text-align: center;
    align-items: center;
    span {
      @include font('Ubuntu-Bold', $black, 20, 700);
    }
    p {
      margin-top: 8px;
      @include font('Ubuntu-Regular', $gray, 16, 400);
      line-height: 25.6px;
    }
    img {
      width: 42px;
      height: 40px;
      margin-bottom: 24px;
    }
  }
}
.form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  gap: 24px;
  div {
    display: flex;
    flex-direction: column;
    label {
      @include font('Ubuntu-Regular', $gray, 14, 400);
      margin-bottom: 8px;
    }
  }
}

@media screen and (min-width: 390px) and (max-width: 480px) {
  .section {
    margin-top: 100px;
    h2 {
      font-size: calc(1.4125rem + 1.95vw) !important;
      text-align: center;
    }
    p {
      font-size: 1.125rem !important;
      text-align: center;
    }
    .icon-box {
      flex-direction: column;
      gap: 0;
      margin-top: 180px;
      div {
        margin: 0 0 20px 0;
        p {
          font-size: 16px !important;
        }
      }
    }
    .send {
      margin: 200px 0 0 0;
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 26px !important;
        text-align: center;
      }
      .form {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        div {
          width: 312px;
          input {
            width: 100% !important;
          }
        }
        .btn-or {
          width: 100%;
        }
      }
    }
    padding-bottom: 20px;
  }
}
