<div class="header" data-aos="flip-left" data-aos-duration="1000">
  <h1>Recent news</h1>
  <div class="news">
    <div class="newest">
      <img src="assets/img/news/news-1.png" alt="" />
      <h5>How to Build Climate Change-Resilient Infrastructure</h5>
      <section>
        <span>Industry News</span>
        <span>June 24, 2020</span>
        <span>4 comments</span>
      </section>
      <p>
        Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus.
        Tincidunt aliquet sit vel, <br />
        venenatis nulla. Integer bibendum turpis convallis enim, nibh
        convallis...
      </p>
    </div>
    <div class="second">
      <div class="divider">
        <img src="assets/img/news/news-sm.png" alt="news" />
        <h5>How Construction Can Help Itself</h5>
        <section>
          <span>Innovation</span>
          <span>June 12, 2020</span>
          <span>No comments</span>
        </section>
      </div>
      <div class="divider">
        <img src="assets/img/news/news-sm-2.png" alt="news" />
        <h5>How Construction Can Help Itself</h5>
        <section>
          <span>Innovation</span>
          <span>June 12, 2020</span>
          <span>No comments</span>
        </section>
      </div>
    </div>
  </div>
  <div class="last">
    <h3>Explore all our news posts</h3>
    <button class="btn-or">View all news</button>
  </div>
</div>
