<div class="div">
  <h1>That’s how we do it</h1>
  <section>
    <div class="tns">
      <div class="step-header">
        <span class="step-indicator">01</span>
        <span class="step-line"></span>
      </div>
      <div class="step-body">
        <h3>Work Estimate</h3>
        <p>Culpa nostrud commodo ea consequat aliquip reprehenderit.</p>
      </div>
    </div>
    <div class="tns">
      <div class="step-header">
        <span class="step-indicator">02</span>
        <span class="step-line"></span>
      </div>
      <div class="step-body">
        <h3>Contract</h3>
        <p>
          Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit
          imperdiet auctor et tempor.
        </p>
      </div>
    </div>
    <div class="tns">
      <div class="step-header">
        <span class="step-indicator">03</span>
        <span class="step-line"></span>
      </div>
      <div class="step-body">
        <h3>Mobilization</h3>
        <p>Odio massa scelerisque purus arcu sed velit eleifend cursus leo.</p>
      </div>
    </div>
    <div class="tns">
      <div class="step-header">
        <span class="step-indicator">04</span>
        <span class="step-line"></span>
      </div>
      <div class="step-body">
        <h3>Construction Work</h3>
        <p>
          Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore
          et ad et veniam ad deserunt.
        </p>
      </div>
    </div>
  </section>
  <section class="benefits">
    <div class="b-modal">
      <h3>Our benefits</h3>
      <p>
        Our mission is to set the highest standards for construction sphere.
      </p>
      <div class="benefit-list">
        <div>
          <img src="assets/svg/ic-contract.svg" />
          <h5>Fixed Terms & Cost</h5>
          <p>
            Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam
            velit nostrud aliquip sunt.
          </p>
        </div>
        <div>
          <img src="assets/svg/ic-helmet.svg" />
          <h5>Qualified Workers</h5>
          <p>
            Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam
            velit nostrud aliquip sunt.
          </p>
        </div>
        <div>
          <img src="assets/svg/ic-camera.svg" />
          <h5>Supervision & Control</h5>
          <p>
            Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam
            velit nostrud aliquip sunt.
          </p>
        </div>
      </div>
    </div>
    <button class="btn-or">Discuss a project</button>
  </section>
</div>
