@import '../../../../../assets/scss/link';
.header {
  display: flex;
  margin-top: 120px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;

  h2 {
    display: inline-block;
    @include font('Ubuntu-Bold', $black, 46, 700);
  }
  .bar {
    width: 100%;
    .swiper-slide {
      display: flex;
      justify-content: center;
      flex-direction: row;
      text-align: center;
      gap: 30px;
    }
  }
  p {
    @include font('Ubuntu-Regular', $gray, 14, 400);
  }
}

@media screen and (min-width: 390px) and (max-width: 480px) {
  .header {
    margin-top: 40px;
    h2 {
      text-align: center;
      font-size: 30px;
    }
    .bar {
      width: 100%;
      .swiper-slide {
        flex-direction: column;
        gap: 0;
      }
    }
  }
}
