<div>
  <table>
    <thead>
      <tr>
        <th>items</th>
        <th>
          <div>BASIC</div>
          <div>$20 per m2</div>
        </th>
        <th>
          <div>STANDARD</div>
          <div>$30 per m2</div>
        </th>
        <th>
          <div>BUSINESS</div>
          <div>$40 per m2</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Installation plan</td>
        <td>icon</td>
        <td>icon</td>
        <td>icon</td>
      </tr>
      <tr>
        <td>Planning solutions (2-3 options)</td>
        <td>icon</td>
        <td>icon</td>
        <td>icon</td>
      </tr>
      <tr>
        <td>Lighting plan</td>
        <td>icon</td>
        <td>icon</td>
        <td>icon</td>
      </tr>
      <tr>
        <td>Flooring plan</td>
        <td>icon</td>
        <td>icon</td>
        <td>icon</td>
      </tr>
      <tr>
        <td>Heating floor laying scheme</td>
        <td>icon</td>
        <td>icon</td>
        <td>icon</td>
      </tr>
      <tr>
        <td>Air conditioner zones layout</td>
        <td>icon</td>
        <td>icon</td>
        <td>icon</td>
      </tr>
      <tr>
        <td>3D visualization of all rooms</td>
        <td>icon</td>
        <td>icon</td>
        <td>icon</td>
      </tr>
      <tr>
        <td>Visualization of each room (3-4 angles)</td>
        <td></td>
        <td></td>
        <td>icon</td>
      </tr>
      <tr>
        <td>Terms</td>
        <td>10 days</td>
        <td>20 days</td>
        <td>30 days</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div><button class="btn-or">send request</button></div>
        </td>
        <td>
          <div><button class="btn-or">send request</button></div>
        </td>
        <td>
          <div><button class="btn-or">send request</button></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
